# Task 1 - FitBit Dataset
**1. load this data in sql and in pandas with a relation in sql**

In [1]:
# import MySQLdb
import csv
import sys
import mysql.connector as connection
import pandas as pd
import numpy as np
import datetime

In [3]:
# db = MySQLdb.connect("localhost", "root","Anushka27@", "fsds_ineuron")
db = connection.connect(host="localhost", user="root", passwd="Anushka%27")
cursor = db.cursor()
csv_data = csv.reader(open('FitBit_data.csv'))
cursor.execute("CREATE DATABASE csvkit_db_task")
cursor.execute("CREATE TABLE csvkit_db_task.FitBit_data_csvkit (Id FLOAT NOT NULL,ActivityDate DATE NOT NULL,TotalSteps FLOAT NOT NULL,TotalDistance FLOAT NOT NULL,TrackerDistance FLOAT NOT NULL,LoggedActivitiesDistance FLOAT NOT NULL,VeryActiveDistance FLOAT NOT NULL,ModeratelyActiveDistance FLOAT NOT NULL,LightActiveDistance FLOAT NOT NULL,SedentaryActiveDistance FLOAT NOT NULL,VeryActiveMinutes FLOAT NOT NULL,FairlyActiveMinutes FLOAT NOT NULL,LightlyActiveMinutes FLOAT NOT NULL,SedentaryMinutes FLOAT NOT NULL,Calories FLOAT NOT NULL)")
# cursor.execute("CREATE TABLE csvkit_db_task.FitBit_data_csvkit (Id FLOAT NOT NULL,ActivityDate DATE NOT NULL,TotalSteps FLOAT NOT NULL,TotalDistance FLOAT NOT NULL,TrackerDistance FLOAT NOT NULL,LoggedActivitiesDistance FLOAT NOT NULL,VeryActiveDistance FLOAT NOT NULL,ModeratelyActiveDistance FLOAT NOT NULL,LightActiveDistance FLOAT NOT NULL,SedentaryActiveDistance FLOAT NOT NULL,VeryActiveMinutes FLOAT NOT NULL,FairlyActiveMinutes FLOAT NOT NULL,LightlyActiveMinutes FLOAT NOT NULL,SedentaryMinutes FLOAT NOT NULL,Calories FLOAT NOT NULL)")
header = next(csv_data)
for row in csv_data:
    print(row)
    cursor.execute("Insert INTO csvkit_db_task.FitBit_data_csvkit (Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s) ",row)
db.commit()
cursor.close()
print("Data Uploaded Successfully")

['1503960366', '2016-03-25', '11004', '7.110000134', '7.110000134', '0', '2.569999933', '0.460000008', '4.070000172', '0', '33', '12', '205', '804', '1819']
['1503960366', '2016-03-26', '17609', '11.55000019', '11.55000019', '0', '6.920000076', '0.730000019', '3.910000086', '0', '89', '17', '274', '588', '2154']
['1503960366', '2016-03-27', '12736', '8.529999733', '8.529999733', '0', '4.659999847', '0.159999996', '3.710000038', '0', '56', '5', '268', '605', '1944']
['1503960366', '2016-03-28', '13231', '8.930000305', '8.930000305', '0', '3.190000057', '0.790000021', '4.949999809', '0', '39', '20', '224', '1080', '1932']
['1503960366', '2016-03-29', '12041', '7.849999905', '7.849999905', '0', '2.160000086', '1.090000033', '4.610000134', '0', '28', '28', '243', '763', '1886']
['1503960366', '2016-03-30', '10970', '7.159999847', '7.159999847', '0', '2.359999895', '0.50999999', '4.289999962', '0', '30', '13', '223', '1174', '1820']
['1503960366', '2016-03-31', '12256', '7.860000134', '7.860000134', '0', '2.289999962', '0.49000001', '5.039999962', '0', '33', '12', '239', '820', '1889']
['1503960366', '2016-04-01', '12262', '7.869999886', '7.869999886', '0', '3.319999933', '0.829999983', '3.640000105', '0', '47', '21', '200', '866', '1868']
['1503960366', '2016-04-02', '11248', '7.25', '7.25', '0', '3', '0.449999988', '3.74000001', '0', '40', '11', '244', '636', '1843']
['1503960366', '2016-04-03', '10016', '6.369999886', '6.369999886', '0', '0.910000026', '1.279999971', '4.179999828', '0', '15', '30', '314', '655', '1850']
['1503960366', '2016-04-04', '14557', '9.800000191', '9.800000191', '0', '3.390000105', '0.699999988', '5.690000057', '0', '43', '18', '285', '757', '2030']
['1503960366', '2016-04-05', '14844', '9.729999542', '9.729999542', '0', '2.940000057', '0.75999999', '6.039999962', '0', '36', '18', '341', '736', '2083']
['1503960366', '2016-04-06', '11974', '7.670000076', '7.670000076', '0', '2.039999962', '0.479999989', '5.150000095', '0', '27', '12', '228', '1173', '1861']
['1503960366', '2016-04-07', '10198', '6.440000057', '6.440000057', '0', '1.200000048', '0.790000021', '4.449999809', '0', '17', '20', '195', '1208', '1755']
['1503960366', '2016-04-08', '12521', '7.940000057', '7.940000057', '0', '3.309999943', '0.899999976', '3.74000001', '0', '46', '22', '212', '1160', '1895']
['1503960366', '2016-04-09', '12432', '8.100000381', '8.100000381', '0', '2.589999914', '0.589999974', '4.920000076', '0', '32', '15', '248', '738', '1883']
['1503960366', '2016-04-10', '10057', '6.980000019', '6.980000019', '0', '4', '0.49000001', '2.480000019', '0', '44', '13', '168', '737', '1755']
['1503960366', '2016-04-11', '10990', '7.260000229', '7.260000229', '0', '2.039999962', '0.569999993', '4.650000095', '0', '26', '14', '216', '855', '1811']
['1503960366', '2016-04-12', '224', '0.140000001', '0.140000001', '0', '0', '0', '0.129999995', '0', '0', '0', '9', '32', '50']
['1624580081', '2016-03-25', '1810', '1.179999948', '1.179999948', '0', '0', '0', '1.129999995', '0.01', '0', '0', '121', '1319', '1373']
['1624580081', '2016-03-26', '815', '0.529999971', '0.529999971', '0', '0', '0', '0.529999971', '0', '0', '0', '47', '1393', '1264']
['1624580081', '2016-03-27', '1985', '1.289999962', '1.289999962', '0', '0', '0', '1.279999971', '0.01', '0', '0', '112', '1328', '1350']
['1624580081', '2016-03-28', '1905', '1.24000001', '1.24000001', '0', '0', '0', '1.24000001', '0', '0', '0', '95', '1345', '1342']
['1624580081', '2016-03-29', '1552', '1.00999999', '1.00999999', '0', '0', '0', '1', '0', '0', '0', '66', '1374', '1300']
['1624580081', '2016-03-30', '1675', '1.090000033', '1.090000033', '0', '0', '0', '1.090000033', '0', '0', '0', '84', '1356', '1313']
['1624580081', '2016-03-31', '4506', '2.930000067', '2.930000067', '0', '0.50999999', '0.270000011', '2.150000095', '0.01', '7', '4', '144', '1285', '1498']
['1624580081', '2016-04-01', '9218', '5.989999771', '5.989999771', '0', '0', '0', '5.96999979', '0.01', '0', '0', '221', '1219', '1541']
['1624580081', '2016-04-02', '1556', '1.00999999', '1.00999999', '0', '0', '0', '1.00999999', '0.01', '0', '0', '88', '1352', '1327']
['1624580081', '2016-04-03', '2910', '1.889999986', '1.889999986', '0', '0', '0', '1.879999995', '0.01', '0', '0', '157', '1283', '1452']
['1624580081', '2016-04-04', '18464', '12', '12', '0', '0', '0', '12', '0', '0', '0', '270', '1170', '1574']
['1624580081', '2016-04-05', '1335', '0.870000005', '0.870000005', '0', '0', '0', '0.870000005', '0', '0', '0', '74', '1366', '1308']
['1624580081', '2016-04-06', '1004', '0.649999976', '0.649999976', '0', '0', '0', '0.649999976', '0', '0', '0', '55', '1385', '1276']
['1624580081', '2016-04-07', '1111', '0.720000029', '0.720000029', '0', '0', '0', '0.720000029', '0', '0', '0', '54', '1386', '1278']
['1624580081', '2016-04-08', '6344', '4.119999886', '4.119999886', '0', '0', '0', '4.099999905', '0', '0', '0', '143', '1297', '1409']
['1624580081', '2016-04-09', '3572', '2.319999933', '2.319999933', '0', '0', '0', '2.289999962', '0.029999999', '0', '0', '122', '1318', '1370']
['1624580081', '2016-04-10', '3910', '2.539999962', '2.539999962', '0', '0.469999999', '0.25', '1.809999943', '0.01', '7', '7', '186', '1240', '1555']
['1624580081', '2016-04-11', '10000', '6.5', '6.5', '0', '0', '0', '6.5', '0', '0', '0', '172', '1268', '1469']
['1624580081', '2016-04-12', '6627', '4.309999943', '4.309999943', '0', '0', '0', '4.309999943', '0', '0', '0', '89', '604', '706']
['1644430081', '2016-04-01', '4636', '3.410000086', '3.410000086', '0', '0', '0.779999971', '2.599999905', '0.029999999', '0', '16', '586', '838', '3323']
['1644430081', '2016-04-02', '20237', '14.71000004', '14.71000004', '0', '2.569999933', '6.400000095', '5.730000019', '0.01', '34', '141', '347', '918', '4029']
['1644430081', '2016-04-03', '12912', '9.409999847', '9.409999847', '0', '4.829999924', '0.769999981', '3.789999962', '0.029999999', '59', '16', '283', '1082', '3436']
['1644430081', '2016-04-04', '2819', '2.049999952', '2.049999952', '0', '0.310000002', '0.170000002', '1.559999943', '0.01', '4', '4', '87', '1345', '2444']
['1644430081', '2016-04-05', '9921', '7.210000038', '7.210000038', '0', '0.340000004', '1.519999981', '5.360000134', '0', '5', '35', '219', '1181', '3098']
['1644430081', '2016-04-06', '8046', '5.849999905', '5.849999905', '0', '1.289999962', '2.119999886', '2.450000048', '0', '18', '41', '137', '1244', '2925']
['1644430081', '2016-04-07', '11166', '8.119999886', '8.119999886', '0', '0.209999993', '2.410000086', '5.5', '0', '3', '58', '230', '1149', '3202']
['1644430081', '2016-04-08', '7842', '5.699999809', '5.699999809', '0', '0.479999989', '2.410000086', '2.809999943', '0', '7', '43', '161', '1229', '2928']
['1644430081', '2016-04-09', '13840', '10.06000042', '10.06000042', '0', '1.309999943', '3.720000029', '5.03000021', '0', '18', '81', '192', '1149', '3290']
['1644430081', '2016-04-10', '1329', '0.970000029', '0.970000029', '0', '0', '0', '0.970000029', '0', '0', '0', '35', '207', '489']
['1844505072', '2016-04-01', '6847', '4.53000021', '4.53000021', '0', '0.610000014', '0.370000005', '3.549999952', '0', '9', '9', '251', '1171', '1969']
['1844505072', '2016-04-02', '5367', '3.549999952', '3.549999952', '0', '0', '0', '3.549999952', '0', '0', '0', '263', '1177', '1889']
['1844505072', '2016-04-03', '2841', '1.879999995', '1.879999995', '0', '0', '0', '1.879999995', '0', '0', '0', '136', '1114', '1636']
['1844505072', '2016-04-04', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '669', '1347']
['1844505072', '2016-04-05', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1440', '1347']
['1844505072', '2016-04-06', '7', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '1439', '1349']
['1844505072', '2016-04-07', '6344', '4.190000057', '4.190000057', '0', '0', '0', '4.190000057', '0', '0', '0', '290', '1150', '1965']
['1844505072', '2016-04-08', '5316', '3.50999999', '3.50999999', '0', '0', '0', '3.50999999', '0', '0', '0', '221', '1219', '1824']
['1844505072', '2016-04-09', '4979', '3.289999962', '3.289999962', '0', '0', '0', '3.289999962', '0', '0', '0', '184', '620', '1807']
['1844505072', '2016-04-10', '6556', '4.340000153', '4.340000153', '0', '0', '0', '4.329999924', '0', '0', '0', '305', '810', '1971']
['1844505072', '2016-04-11', '5430', '3.589999914', '3.589999914', '0', '0', '0', '3.589999914', '0', '0', '0', '251', '1189', '1888']
['1844505072', '2016-04-12', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '426', '399']
['1927972279', '2016-04-01', '4317', '2.99000001', '2.99000001', '0', '0', '0.370000005', '2.619999886', '0', '0', '11', '192', '854', '2590']
['1927972279', '2016-04-02', '5662', '3.920000076', '3.920000076', '0', '0', '0', '3.920000076', '0', '0', '0', '267', '858', '2783']
['1927972279', '2016-04-03', '3198', '2.210000038', '2.210000038', '0', '0', '0', '2.210000038', '0', '0', '0', '146', '1183', '2449']
['1927972279', '2016-04-04', '2352', '1.629999995', '1.629999995', '0', '0', '0', '1.629999995', '0', '0', '0', '128', '829', '2380']
['1927972279', '2016-04-05', '2234', '1.549999952', '1.549999952', '0', '0', '0', '1.549999952', '0', '0', '0', '108', '912', '2344']
['1927972279', '2016-04-06', '1259', '0.870000005', '0.870000005', '0', '0', '0', '0.870000005', '0', '0', '0', '73', '938', '2202']
['1927972279', '2016-04-07', '768', '0.529999971', '0.529999971', '0', '0', '0', '0.529999971', '0', '0', '0', '43', '1397', '2130']
['1927972279', '2016-04-08', '519', '0.360000014', '0.360000014', '0', '0', '0', '0.360000014', '0', '0', '0', '34', '1406', '2088']
['1927972279', '2016-04-09', '2523', '1.75', '1.75', '0', '0', '0.370000005', '1.379999995', '0', '0', '9', '134', '1250', '2443']
['1927972279', '2016-04-10', '2105', '1.460000038', '1.460000038', '0', '0', '0', '1.460000038', '0', '0', '0', '139', '805', '2442']
['1927972279', '2016-04-11', '1209', '0.839999974', '0.839999974', '0', '0', '0', '0.839999974', '0', '0', '0', '73', '842', '2255']
['1927972279', '2016-04-12', '24', '0.02', '0.02', '0', '0', '0', '0.02', '0', '0', '0', '3', '161', '942']
['2022484408', '2016-04-01', '13603', '9.600000381', '9.600000381', '0', '5.460000038', '0.629999995', '3.50999999', '0', '72', '16', '213', '1139', '2645']
['2022484408', '2016-04-02', '5477', '3.839999914', '3.839999914', '0', '0', '0', '3.839999914', '0', '0', '0', '237', '1203', '2040']
['2022484408', '2016-04-03', '11144', '7.820000172', '7.820000172', '0', '1.789999962', '0.889999986', '5.139999866', '0', '25', '22', '279', '1114', '2395']
['2022484408', '2016-04-04', '15313', '11', '11', '0', '5.019999981', '1.289999962', '4.690000057', '0', '62', '19', '233', '1126', '2581']
['2022484408', '2016-04-05', '10805', '7.590000153', '7.590000153', '0', '0.720000029', '0.980000019', '5.889999866', '0', '36', '37', '298', '1069', '2735']
['2022484408', '2016-04-06', '15392', '10.93000031', '10.93000031', '0', '3.430000067', '1.75', '5.75', '0', '47', '42', '258', '1093', '2733']
['2022484408', '2016-04-07', '18247', '13.82999992', '13.82999992', '0', '7.110000134', '2.210000038', '4.510000229', '0', '72', '62', '252', '1054', '3021']
['2022484408', '2016-04-08', '13023', '9.260000229', '9.260000229', '0', '3.230000019', '0.560000002', '5.46999979', '0', '40', '12', '296', '1092', '2577']
['2022484408', '2016-04-09', '16267', '12.59000015', '12.59000015', '0', '5.75', '0.469999999', '6.369999886', '0', '44', '16', '302', '1078', '2811']
['2022484408', '2016-04-10', '10005', '7.019999981', '7.019999981', '0', '0.079999998', '1.049999952', '5.900000095', '0', '1', '23', '339', '1077', '2458']
['2022484408', '2016-04-11', '10106', '7.090000153', '7.090000153', '0', '1.210000038', '0.560000002', '5.329999924', '0', '41', '16', '272', '1111', '2568']
['2022484408', '2016-04-12', '6717', '4.71999979', '4.71999979', '0', '3.230000019', '0.219999999', '1.269999981', '0', '41', '5', '67', '551', '1140']
['2026352035', '2016-04-01', '2605', '1.620000005', '1.620000005', '0', '0', '0', '1.620000005', '0', '0', '0', '166', '729', '1407']
['2026352035', '2016-04-02', '1229', '0.75999999', '0.75999999', '0', '0', '0', '0.75999999', '0', '0', '0', '69', '795', '1237']
['2026352035', '2016-04-03', '2308', '1.429999948', '1.429999948', '0', '0', '0', '1.429999948', '0', '0', '0', '115', '720', '1330']
['2026352035', '2016-04-04', '6679', '4.139999866', '4.139999866', '0', '0', '0', '4.139999866', '0', '0', '0', '263', '644', '1583']
['2026352035', '2016-04-05', '5645', '3.5', '3.5', '0', '0', '0', '3.5', '0', '0', '0', '248', '621', '1538']
['2026352035', '2016-04-06', '3180', '1.970000029', '1.970000029', '0', '0', '0', '1.970000029', '0', '0', '0', '185', '738', '1421']
['2026352035', '2016-04-07', '2767', '1.720000029', '1.720000029', '0', '0', '0', '1.720000029', '0', '0', '0', '170', '673', '1392']
['2026352035', '2016-04-08', '3762', '2.329999924', '2.329999924', '0', '0', '0', '2.329999924', '0', '0', '0', '173', '719', '1425']
['2026352035', '2016-04-09', '3098', '1.919999957', '1.919999957', '0', '0', '0', '1.919999957', '0', '0', '0', '185', '700', '1413']
['2026352035', '2016-04-10', '5142', '3.190000057', '3.190000057', '0', '0', '0', '3.190000057', '0', '0', '0', '230', '654', '1515']
['2026352035', '2016-04-11', '3279', '2.029999971', '2.029999971', '0', '0', '0', '2.029999971', '0', '0', '0', '164', '694', '1405']
['2026352035', '2016-04-12', '1019', '0.629999995', '0.629999995', '0', '0', '0', '0.629999995', '0', '0', '0', '64', '223', '600']
['2320127002', '2016-04-01', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1440', '1324']
['2320127002', '2016-04-02', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1440', '1324']
['2320127002', '2016-04-03', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1440', '1324']
['2320127002', '2016-04-04', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1440', '1324']
['2320127002', '2016-04-05', '4931', '3.319999933', '3.319999933', '0', '0', '0', '3.319999933', '0', '0', '0', '175', '1265', '1708']
['2320127002', '2016-04-06', '6999', '4.71999979', '4.71999979', '0', '0', '0', '4.71999979', '0', '0', '0', '320', '1120', '1950']
['2320127002', '2016-04-07', '1846', '1.24000001', '1.24000001', '0', '0', '0', '1.24000001', '0', '0', '0', '93', '1347', '1508']
['2320127002', '2016-04-08', '3417', '2.299999952', '2.299999952', '0', '0', '0', '2.299999952', '0', '0', '0', '153', '1287', '1625']
['2320127002', '2016-04-09', '4863', '3.279999971', '3.279999971', '0', '0.059999999', '0.419999987', '2.799999952', '0', '1', '11', '208', '1220', '1772']
['2320127002', '2016-04-10', '2277', '1.529999971', '1.529999971', '0', '0', '0', '1.529999971', '0', '0', '0', '103', '1337', '1530']
['2320127002', '2016-04-11', '11230', '7.670000076', '7.670000076', '0', '0.889999986', '0.119999997', '6.659999847', '0', '10', '2', '390', '1038', '2206']
['2320127002', '2016-04-12', '2098', '1.409999967', '1.409999967', '0', '0', '0', '1.409999967', '0', '0', '0', '69', '617', '790']
['2347167796', '2016-03-29', '10272', '6.789999962', '6.789999962', '0', '0.159999996', '3.119999886', '3.5', '0', '2', '58', '208', '700', '2041']
['2347167796', '2016-03-30', '10533', '7.099999905', '7.099999905', '0', '1.769999981', '2.059999943', '3.269999981', '0', '21', '35', '255', '615', '2187']
['2347167796', '2016-03-31', '6760', '4.46999979', '4.46999979', '0', '0', '0', '4.46999979', '0', '0', '0', '250', '613', '1929']
['2347167796', '2016-04-01', '8328', '5.510000229', '5.510000229', '0', '0', '2', '3.5', '0', '0', '33', '212', '804', '1935']
['2347167796', '2016-04-02', '15459', '10.22000027', '10.22000027', '0', '3.589999914', '0.810000002', '5.820000172', '0', '51', '16', '327', '583', '2438']
['2347167796', '2016-04-03', '7485', '4.949999809', '4.949999809', '0', '0', '0', '4.949999809', '0', '0', '0', '324', '491', '2035']
['2347167796', '2016-04-04', '10254', '6.800000191', '6.800000191', '0', '1.419999957', '1.230000019', '4.159999847', '0', '21', '25', '231', '638', '2099']
['2347167796', '2016-04-05', '10114', '6.820000172', '6.820000172', '0', '1.639999986', '0.479999989', '4.679999828', '0', '18', '9', '269', '696', '2096']
['2347167796', '2016-04-06', '11107', '7.340000153', '7.340000153', '0', '0.899999976', '2.75999999', '3.680000067', '0', '14', '46', '196', '759', '2058']
['2347167796', '2016-04-07', '10320', '6.849999905', '6.849999905', '0', '0.680000007', '1.230000019', '4.940000057', '0', '15', '32', '315', '1002', '2338']
['2347167796', '2016-04-08', '10209', '6.75', '6.75', '0', '0.159999996', '0.349999994', '6.230000019', '0', '2', '6', '316', '711', '2104']
['2347167796', '2016-04-09', '16081', '10.63000011', '10.63000011', '0', '1.25', '1.820000052', '7.559999943', '0', '16', '32', '401', '970', '2488']
['2347167796', '2016-04-10', '10078', '6.829999924', '6.829999924', '0', '1.019999981', '0.119999997', '5.690000057', '0', '12', '3', '303', '463', '2164']
['2347167796', '2016-04-11', '10001', '6.610000134', '6.610000134', '0', '0.330000013', '2.930000067', '3.359999895', '0', '5', '52', '196', '788', '2009']
['2347167796', '2016-04-12', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '425', '399']
['2873212765', '2016-04-01', '890', '0.600000024', '0.600000024', '0', '0', '0', '0.600000024', '0', '0', '0', '41', '1399', '1335']
['2873212765', '2016-04-02', '2214', '1.49000001', '1.49000001', '0', '0', '0', '1.49000001', '0', '0', '0', '197', '1243', '1559']
['2873212765', '2016-04-03', '7640', '5.130000114', '5.130000114', '0', '0.189999998', '0.800000012', '4.150000095', '0', '3', '15', '315', '1107', '1845']
['2873212765', '2016-04-04', '9713', '6.53000021', '6.53000021', '0', '0.340000004', '0.889999986', '5.289999962', '0', '6', '24', '355', '1055', '2046']
['2873212765', '2016-04-05', '8432', '5.670000076', '5.670000076', '0', '0', '0', '5.650000095', '0.01', '0', '0', '374', '1066', '1953']
['2873212765', '2016-04-06', '7350', '4.940000057', '4.940000057', '0', '0', '0', '4.940000057', '0', '0', '0', '382', '1058', '1910']
['2873212765', '2016-04-07', '9353', '6.309999943', '6.309999943', '0', '0.370000005', '0.689999998', '5.239999771', '0', '5', '17', '363', '1055', '2035']
['2873212765', '2016-04-08', '7157', '4.809999943', '4.809999943', '0', '0', '0', '4.809999943', '0', '0', '0', '380', '1060', '1944']
['2873212765', '2016-04-09', '14103', '9.56000042', '9.56000042', '0', '3.019999981', '0.409999996', '6.139999866', '0.01', '46', '8', '288', '1098', '2257']
['2873212765', '2016-04-10', '5290', '3.549999952', '3.549999952', '0', '0.039999999', '0.340000004', '3.170000076', '0', '1', '8', '251', '1180', '1724']
['2873212765', '2016-04-11', '7497', '5.039999962', '5.039999962', '0', '0', '0', '5.039999962', '0', '0', '0', '357', '882', '1741']
['2873212765', '2016-04-12', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1440', '0']
['2891001357', '2016-03-29', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1440', '1920']
['2891001357', '2016-03-30', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1440', '1920']
['2891001357', '2016-03-31', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1440', '1920']
['2891001357', '2016-04-01', '0', '0', '0', '4.828032017', '0', '0', '0', '0', '0', '660', '0', '780', '4562']
['2891001357', '2016-04-02', '4126', '3.220000029', '0', '3.218688011', '0', '0', '3.220000029', '0', '0', '0', '720', '720', '2881']
['2891001357', '2016-04-03', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1440', '1920']
['2891001357', '2016-04-04', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1440', '1920']
['2891001357', '2016-04-05', '2063', '1.610000014', '0', '1.609344006', '0', '0', '1.610000014', '0', '0', '0', '630', '99', '1144']
['3372868164', '2016-04-01', '5785', '3.950000048', '3.950000048', '0', '0', '0', '3.910000086', '0.039999999', '0', '0', '311', '1129', '1852']

In [4]:
fitbit_df = pd.read_csv('FitBit_data.csv')
fitbit_df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

**2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql**

I have used csvkit t  creae the table then I used mysql connector to load the data into sql database from csv.

**3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format**

In [5]:
fitbit_df['ActivityDate'] = pd.to_datetime(fitbit_df.ActivityDate, format='%Y-%m-%d %H:%M:%S')

In [6]:
fitbit_df['ActivityDate'].dtype

dtype('<M8[ns]')

In [7]:
fitbit_df['ActivityDate'].head()

0   2016-03-25
1   2016-03-26
2   2016-03-27
3   2016-03-28
4   2016-03-29
Name: ActivityDate, dtype: datetime64[ns]

**4 . Find out in this data that how many unique id's we have**

In [8]:
fitbit_df['Id'].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

**5 . which id is one of the active id that you have in whole dataset**

In [9]:
fitbit_df['Id'].value_counts().sort_values(ascending = False).head(5)

4057192912    32
4020332650    32
1503960366    19
1624580081    19
2347167796    15
Name: Id, dtype: int64

**6 . how many of them have not logged there activity find out in terms of number of ids**

In [10]:
len(fitbit_df[fitbit_df['LoggedActivitiesDistance'] ==0]['Id'].unique())

35

**7 . Find out who is the laziest person id that we have in dataset**

In [11]:
fitbit_df.groupby('Id')['TotalDistance'].sum().sort_values().head(1)

Id
4388161847    0.0
Name: TotalDistance, dtype: float64

**8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset**

In [32]:
fitbit_df_cal = pd.DataFrame(fitbit_df.groupby('Id')['Calories'].mean())

In [41]:
fitbit_df_cal[fitbit_df_cal >= 1800].count()

Calories    26
dtype: int64

**9. how many person are not a regular person with respect to activity try to find out those**

In [58]:
fitbit_df_active = pd.DataFrame(fitbit_df.groupby('Id')['ActivityDate'].count())

In [60]:
fitbit_df_active[fitbit_df_active >= 12].count() # We have considered active as whoever has do some activity for moer than 12 days in both the months.

ActivityDate    24
dtype: int64

**10 . who is the third most active person in this dataset find out those in pandas and in sql both**

In [73]:
fitbit_df_third_active = pd.DataFrame(fitbit_df.groupby(['Id'])['ActivityDate'].count().sort_values(ascending=False))

In [78]:
fitbit_df_third_active[fitbit_df_third_active == 15].dropna()

            ActivityDate
Id
2347167796          15.0
4702921684          15.0
4445114986          15.0

**11 . who is the 5th most laziest person avilable in dataset find it out**

In [80]:
fitbit_df_third_laziest = pd.DataFrame(fitbit_df.groupby(['Id'])['ActivityDate'].count().sort_values())

In [83]:
fitbit_df_third_laziest[fitbit_df_third_laziest == 12].dropna()

            ActivityDate
Id
8877689391          12.0
5553957443          12.0
7086361926          12.0
4558609924          12.0
8792009665          12.0
8253242879          12.0
3977333714          12.0
2873212765          12.0
8378563200          12.0
2320127002          12.0
2026352035          12.0
2022484408          12.0
1927972279          12.0
1844505072          12.0
4319703577          12.0
7007744171          12.0

**12 . what is a total cummulative calories burn for a person find out**

In [88]:
fitbit_df.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64

In [87]:
fitbit_df.groupby('Id')['Calories'].sum().groupby(level=0).cumsum().reset_index()

            Id  Calories
0   1503960366     34128
1   1624580081     25705
2   1644430081     29164
3   1844505072     19391
4   1927972279     27048
5   2022484408     29704
6   2026352035     16266
7   2320127002     18385
8   2347167796     30320
9   2873212765     20349
10  2891001357     18187
11  3372868164     18603
12  3977333714     16777
13  4020332650     98412
14  4057192912     60913
15  4319703577     23931
16  4388161847     14442
17  4445114986     31617
18  4558609924     21962
19  4702921684     42322
20  5553957443     21630
21  5577150313     36303
22  6117666160     20993
23  6290855005     21656
24  6391747486     15868
25  6775888955     24523
26  6962181067     29249
27  7007744171     31525
28  7086361926     26124
29  8053475328     31825
30  8253242879     17556
31  8378563200     40274
32  8583815059     19130
33  8792009665     24884
34  8877689391     41414

In [92]:
fitbit_df['Cumm_Calories_Burn'] = fitbit_df.groupby(['Id'])['Calories'].cumsum()

In [96]:
    fitbit_df['Cumm_Calories_Burn']

0       1819
1       3973
2       5917
3       7849
4       9735
       ...
452    29289
453    33130
454    37656
455    40476
456    41414
Name: Cumm_Calories_Burn, Length: 457, dtype: int64

# Task 2 - Superstore_USA
**1 . load this data in sql and in pandas with a relation in sql**

In [98]:
orders_df=pd.read_excel('Superstore_USA.xlsx',sheet_name='Orders')
returns_df=pd.read_excel('Superstore_USA.xlsx',sheet_name='Returns')
users_df=pd.read_excel('Superstore_USA.xlsx',sheet_name='Users')

In [99]:
orders_df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

In [100]:
returns_df.head()

   Order ID    Status
0        65  Returned
1       612  Returned
2       614  Returned
3       678  Returned
4       710  Returned

In [101]:
users_df.head()

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

**1. Find out how return that we have recived and with a product id**

In [107]:
pd.merge(orders_df,returns_df,on='Order ID').groupby(['Product Name'])['Order ID'].count().sort_values(ascending=False)

Product Name
Xerox 1983                                                           2
Xerox 197                                                            2
80 Minute Slim Jewel Case CD-R , 10/Pack - Staples                   2
Eldon Simplefile® Box Office®                                        2
#10 White Business Envelopes,4 1/8 x 9 1/2                           1
                                                                    ..
Crayola Anti Dust Chalk, 12/Pack                                     1
Chromcraft Rectangular Conference Tables                             1
Chromcraft Bull-Nose Wood Round Conference Table Top, Wood Base      1
Chromcraft Bull-Nose Wood 48" x 96" Rectangular Conference Tables    1
Zoom V.92 V.44 PCI Internal Controllerless FaxModem                  1
Name: Order ID, Length: 94, dtype: int64

**2. try  to join order and return data both in sql and pandas**

In [108]:
pd.merge(orders_df,returns_df,on='Order ID')

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,Returned
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,Returned
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,Returned
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,...,Pennsylvania,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,Returned
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,...,New York,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,Returned

**3. Try to find out how many unique customer that we have**

In [114]:
len(orders_df['Customer ID'].unique())

2703

**4. try to find out in how many regions we are selling a product and who is a manager for a respective region**

In [135]:
pd.merge(orders_df,users_df,on='Region')[['Product Name', 'Region','Manager']]

                                           Product Name   Region Manager
0                                              Avery 49  Central   Chris
1     Howard Miller 12-3/4 Diameter Accuwave DS ™ Wa...  Central   Chris
2                                            Newell 321  Central   Chris
3                                            Newell 351  Central   Chris
4              OIC Colored Binder Clips, Assorted Sizes  Central   Chris
...                                                 ...      ...     ...
9421           Staples Copy Paper (20Lb. and 84 Bright)    South     Sam
9422            O'Sullivan 3-Shelf Heavy-Duty Bookcases    South     Sam
9423                  Logitech Cordless Access Keyboard    South     Sam
9424                      Contemporary Wood/Metal Frame    South     Sam
9425  Universal Premium White Copier/Laser Paper (20...    South     Sam

[9426 rows x 3 columns]

**5. find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset**

In [146]:
perc_ship_mode = orders_df['Ship Mode'].value_counts()

In [151]:
perc_ship_mode/len(orders_df['Ship Mode'])*100

Regular Air       74.644600
Delivery Truck    13.611288
Express Air       11.744112
Name: Ship Mode, dtype: float64

**6. Create a new coulmn and try to find out a diffrence between order date and shipment date**

In [154]:
orders_df['diff_order_ship_date'] = orders_df['Ship Date'] - orders_df['Order Date']

In [156]:
orders_df['diff_order_ship_date'].head()

0   2 days
1   1 days
2   1 days
3   1 days
4   0 days
Name: diff_order_ship_date, dtype: timedelta64[ns]

**7. base on question number 8 find out for which order id we have shipment duration more than 10 days**

In [171]:
orders_df[orders_df['diff_order_ship_date'] > '10 days'][['Order ID','diff_order_ship_date']]

      Order ID diff_order_ship_date
643      87215              84 days
1548     86318              11 days
1549     86318              15 days
1678     87957              17 days
1679     87957              11 days
1680     87957              28 days
1697     19556              17 days
1698     19556              11 days
1699     19556              28 days
2515     86177              92 days
5548     88223              14 days
5673     88352              17 days
5859     87572              22 days
5881     91294              24 days
8607     86434              18 days
8609     86436              17 days
8610     86436              19 days
8973     87300              19 days
8982     19841              27 days
8983     19841              31 days
8993     19841              19 days
8996     87300              27 days
8997     87300              31 days

**8. Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well**

In [189]:
df_return_15days = pd.merge(pd.merge(orders_df,returns_df, on='Order ID'),users_df,on='Region')[['Order ID','diff_order_ship_date','Region','Manager']]

In [191]:
df_return_15days[df_return_15days['diff_order_ship_date'] >= '15 days']

Empty DataFrame
Columns: [Order ID, diff_order_ship_date, Region, Manager]
Index: []

**9. Group by region and find out which region is more profitable**

In [200]:
orders_df.groupby('Region')['Profit'].sum().sort_values(ascending = False)[0:1]

Region
Central    519825.567067
Name: Profit, dtype: float64

**10. Try to find out overall in which country we are giving more discount**

In [199]:
orders_df.groupby('State or Province')['Discount'].sum().sort_values(ascending  = False)[0:1]

State or Province
California    52.28
Name: Discount, dtype: float64

**11. Give me a list of unique postal code**

In [201]:
orders_df['Postal Code'].unique()

array([60101, 98221, 91776, ..., 61832, 62521, 26554], dtype=int64)

**12. which customer segement is more profitalble find it out**

In [206]:
orders_df.groupby('Customer Segment')['Profit'].sum()[0:1]

Customer Segment
Consumer    206559.625348
Name: Profit, dtype: float64

**13. try to find out the 10th most loss making product catagory**

In [209]:
orders_df.groupby('Product Category')['Profit'].sum()

Product Category
Furniture          177354.298188
Office Supplies    451990.216492
Technology         683097.884748
Name: Profit, dtype: float64

**16. Try to find out 10 top  product with highest margins**

In [213]:
orders_df.groupby('Product Name')['Product Base Margin'].sum().sort_values(ascending = False)[0:10]

Product Name
Global High-Back Leather Tilter, Burgundy                                                    19.98
BoxOffice By Design Rectangular and Half-Moon Meeting Room Tables                            18.33
Bevis 36 x 72 Conference Tables                                                              16.38
Adesso Programmable 142-Key Keyboard                                                         15.45
Accessory36                                                                                  14.11
Office Star - Mid Back Dual function Ergonomic High Back Chair with 2-Way Adjustable Arms    13.64
Office Star - Contemporary Task Swivel chair with 2-way adjustable arms, Plum                13.26
Microsoft Internet Keyboard                                                                  13.21
StarTAC 7760                                                                                 12.98
Bell Sonecor JB700 Caller ID                                                                 12.60
Name: Product Base Margin, dtype: float64